.Cart{
    padding-right: 1em;
    padding-top: 1em;
    margin-bottom: 1em;
    float: right;
}

.sticky{
    position: sticky;
    bottom: 1em;
}

.cartsvg{
    padding-right: 0.5em;
}

.Ocultar{
    display: none;
}